/* Last Edited by Hunter Lindsay - April 7th, 2022 */

/* Style of header */

/* If you look below, I have included a background image. But that image is just white. I had this vision of a style I wanted to go with
and didn't realize till the end I needed a background image. So I added a white image to show I know how to do it.*/
.header {
    position: relative;
    text-align: center;
    background-image: url('../images/tableau-bg.png')
}
body {
    margin: 0;
}
h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 3rem;
}
div {
    font-family: 'Playfair Display', serif;
}

/* Style for nav bar */
.nav {
    position: relative;
    display: flex;
    border: grey solid;
    border-width: 1px 0px 1px 0px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-button {
    padding: 0.25rem;
}
.nav-button:hover {
    padding: 0.25rem;
    text-decoration: underline overline;
    text-underline-offset: .4em;
    text-decoration-color: grey;
}

a {
    color: black;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}
a:visited {
    color: black;
    text-decoration: none;
}

/* Style for tableau layout. Use of containers and grids */
.container {
  width: 100%;
  margin-right: 0;
  margin-left: auto;
}
.main-content {
    width: 95%;
    padding: 2rem;
  }


.tableau-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px 20px;
    border: grey 1px solid;
}

.grid-child {
    width: 90%;
    font-size: 1rem;;
    padding: 10px 10px;
    text-align: center;
    margin: 0 auto;
}  

.main-graph {
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
    padding: 10px 0;
}

.caption {
    text-align: center;
}

/* Footer styling */
.footer {
    position: relative;
    bottom: 0;
    border-top: 1px solid grey;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.center {
    text-align: center;
}