/* Last Edited by Hunter Lindsay - April 7th, 2022 */
/* Used for the navigation on Home Page */
.center{
    width: 75%;
    margin: auto;
    text-align: center;
}
.inPageNav{
    font-size: 1rem;
}

/* One override. Change color */
.post-preview > .post-meta {
    font-style: normal;
    color: black;
}

/* Used to correct the books and video according to the size of the page */
.bookPhoto {
    width: 100%;
    float: left;
}  

.grid-child {
    width: 100%;
    font-size: 1rem;;
    padding: 10px;
}  

.book-grid {
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 400px) {
    .video {
        display: none;
    }
    .video-error {
        display: inline;
    }
  }
@media (min-width: 600px) {

    .video-error {
        display: none;
    }
}
/* Second override. Font*/
.hpotter {
    font-family: 'Harry Potter', sans-serif;
}
.post-title {
    font-family: 'Harry Potter', sans-serif;
}

/* Third override. Change the position of the background photo.*/
header.masthead { 
    background-position: 50% 10%;
}

/* Forth override. Formating for resume. Get the resume headers to be bold. */
.resume-headers {
    font-weight: bold;
}
/* A Bunch of other overwites*/
li {
    font-weight: normal;
}
li a {
    text-decoration: none;
    color: maroon;
}

.justify {
    text-align: justify;
}

/* Changing the Navbar to better acommadate the contact me button */
.navbar-toggler {
    font-weight: bold;
    box-shadow: 0 0 0 0.1rem;
    position: top right;
}
.navbar-toggler:hover {
    box-shadow: 0 0 0 0.15rem;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.15rem;
}